@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
  --primary-color: rgb(0, 128, 128);
  --accent-color: #d13254;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --bg-color: #fff;
  --bg-color-light: rgb(13, 181, 181);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1{
  font-size: larger;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.container {
  display: flex;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}

.light-sec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}  

.menu-container{
  gap: 10px;
  margin-left: 50px;
  width: 50%;

}

.control{
  padding: 10px;
}
 .light-control{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Range */
.rangeSlider {
  /* -webkit-appearance: none; */
  width: 150%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.rangeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.camera {
  display: block;
  background-color: #04AA6D;
  width: 300px;
  height: 300px;
}

.loading-page {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  background-color: rgb(0, 128, 128);
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
}
.sidebar {
  min-width: 250px;
  border-radius: 30px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
}
.user-avatar p {
  color: var(--text-color-light);
  font-size: 20px;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.user-info h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
}
.user-info p {
  font-size: 14px;
  color: #aaa;
}
.hr {
  width: 100%;
  height: 1.5px;
  background-color: var(--text-color);
  margin: 20px 0;
  opacity: 0.2;
}
.sidebar .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s;
}
.sidebar .menu li a ion-icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}
.sidebar .menu li.active a,
.sidebar .menu li:hover a {
  color: var(--primary-color);
}
.sidebar .menu li.active a ion-icon,
.sidebar .menu li:hover a ion-icon {
  color: var(--text-color-light);
  background-color: var(--primary-color);
}
.sidebar .menu.one {
  flex: 1;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 20px;
  }
  .sidebar .user {
    display: none;
  }
  .sidebar .hr {
    display: none;
  }
  .sidebar .menu.one:last-child {
    display: none;
  }
  .sidebar .menu.two {
    display: none;
  }
  .sidebar .menu {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .sidebar .menu li a span {
    display: none;
  }
  .sidebar .menu li a ion-icon {
    font-size: 20px;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centering the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Making the modal smaller */
  border-radius: 10px; /* Rounded borders */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for input and submit button */
#codeInput, #submitCode {
  margin-top: 10px;
  width: 95%;
  padding: 8px;
  border-radius: 5px;
}

#submitCode {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

#submitCode:hover {
  background-color: rgb(13, 181, 181);
}
